.container{
    text-align: center;
    margin-top:23px;
    height: 100vh;
}


table{
    margin: auto;
}
 
input{
    border-radius: 21px;
    font-size:34px;
    height: 85px;
    width: 260px;
    scroll-behavior: smooth;
}
 
button{
    border-radius: 20px;
    font-size: 20px;
    background: #ffffff;
    width: 60px;
    height: 50px;
    margin: 6px;
}

body{
    background: linear-gradient(#afdbff,#0f0fff);
}
 
.calculator{
   background-color: #003034;
    padding: 60px 20px;
    border-radius: 55px;
    display: inline-block;
   
}